@charset "utf-8";
/*
   Author: Jordan Cyr
   Modified By: Kai Sawler
   Date:
   
   Filename: layout_forum.css
   Stylesheet For: forum.html
*/
/* ==============
    Base Styles:
   ==============
*/
	/* =================
		Header Layouts:
	   =================
	*/
	

	/* ==============
		Nav Layouts:
	   ==============
	*/
	
	

	/* =================================
		Section carpool_script Layouts:
	   =================================
	*/
	#contact_script {
		 padding-left:15%;
	}

	

	/* =================
		Footer Layouts:
	   =================
	*/
	footer {
		position: relative;
		height: 180px;
		clear: both;
	}

/* ===============================
    Mobile Styles: 0 - 480 pixels
   ===============================
*/
@media only screen and (max-width: 480px) {
	/* =================
		Header Layouts:
	   =================
	*/
	html {
		height: 95%;
	}

	/* ==============
		Nav Layouts:
	   ==============
	*/
	nav#main ul li a {
        text-align: center;
        float: none;
		text-decoration:none;
		
    }
	li{
	border: 1px solid #555;
	}

	/* =================================
		Section carpool_script Layouts:
	   =================================
	*/
	

	

	/* =================
		Footer Layouts:
	   =================
	*/
	

}


/* ===================================================
    Tablet and Desktop Styles: 481 pixels and greater
   ===================================================
*/
@media only screen and (min-width: 481px) {
	/* =================
		Header Layouts:
	   =================
	*/
	

	/* ==============
		Nav Layouts:
	   ==============
	*/
		#navicon {
		display: none;
	}
	nav > ul > li {
		display: block;
		width: 15%;
		float: right;
		font-size: 0.8em; 
		height: 100%;
		text-align: center;
		vertical-align: middle;
		margin-bottom: 2%;
	}
	
	

	/* =================================
		Section carpool_script Layouts:
	   =================================
	*/
	

	/* =====================================
		Article carpool_disclaimer Layouts:
	   =====================================
	*/
	

	/* =================
		Footer Layouts:
	   =================
	*/
	

}