@charset "utf-8";
/*
   Author: Jordan Cyr
   Modified By: Kai Sawler
   Date:
   
   Filename: layout_contact.css
   Stylesheet For: contact.html
*/
/* ==============
    Base Styles:
   ==============
*/
	/* =================
	    Header Layouts:
	   =================
	*/
	html {
		height: 95%;
	}



	/* =================
		Footer Layouts:
	   =================
	*/
		footer {
			position: relative;
			height: 180px;
			clear: both;
			}

/* ===============================
    Mobile Styles: 0 - 480 pixels
   ===============================
*/
@media only screen and (max-width: 480px) {
	/* =================
		Header Layouts:
	   =================
	*/


	/* ==============
		Nav Layouts:
	   ==============
	*/
		

	nav.main ul {
		display: none;
		
	}
	
	a#navicon:hover + ul, nav.main:hover + ul, ul:hover {
		display: block;
	}

	/* =================
		Footer Layouts:
	   =================
	*/
	

}


/* =================================================
	Tablet and Desktop Styles: 481 pixels and greater
   =================================================
*/
@media only screen and (min-width: 481px) {
	
	/* ==============
		Nav Layouts:
	   ==============
	*/
	#navicon{
		display:none;
	}
	nav > ul > li {
	display: block;
	width: 15%;
	float: right;
	font-size: 0.8em; 
	height: 100%;
	text-align: center;
	text-decoration:none;
	vertical-align:middle;
	margin-top:2%;
	}
	/* =================
		Footer Layouts:
	   =================
	*/
	
}