footer {
  position: relative;
  
  height: 180px;
  clear: both;
}

@media only screen and (max-width: 480px) {
	nav.main ul {
		display:none;	
	}
	a#navicon:hover + ul,nav.main:hover+ul, ul:hover {
		display:block;
	}
}


/* =================================================
	Tablet and Desktop Styles: 481 pixels and greater
   =================================================
*/
@media only screen and (min-width: 481px) {
	#navicon{
		display:none;
	}
	nav > ul > li {
	display: block;
	width: 15%;
	float: right;
	font-size: 0.8em; 
	height: 100%;
	text-align: center;
	text-decoration:none;
	vertical-align:middle;
	margin-top:2%;
}
}