@charset "utf-8";

/*
	Website:
	Webpage:
	Author:
	Date:
	Filename:
	Supporting files:
*/
body p a:visited{
	color: #0000EE;
}
/* Header styles */

header h1 {
	border: 0.3em outset #9BE5E4;
}

nav ul{
	padding: 1em;
}

nav ul li {
	background-color:#877D7D;
		
}

nav ul li a{
	text-decoration: none;
	font-size: 1.1em;
	color: #FFFFFF;
}

nav ul li:hover {
	background-color:#000000;
	cursor:pointer;	
}

/* Body styles */

body {
	margin-left: 5%;
	margin-right: 5%;	
}

body {
		background-color: #F2D761;
}

 body article h3 {
	text-decoration: underline;
	font-size: 1.2em;
}
